.bg-mobil img {
  max-height: 100vh;
}
.box1 {
  max-height: 100vh;
  background-color: #fff;
}

.box2 {
  text-align: left;
}
.box1 .box2 .kotak1 {
  margin-bottom: 16px;
  margin-top: 16px;
}
.box1 .box2 .text1 {
  text-align: center;
  margin-top: 16px;
}

.box1 .box2 .text1 a {
  text-decoration: none;
}

.box1 .box2 form h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000;
  margin-bottom: 16px;
}
.box1 .box2 form .form-label {
  margin-bottom: 7px;
}
.box1 .box2 form .form-control {
  margin-bottom: 16px;
}
.box1 .box2 form input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}
.box1 .box2 form button {
  background-color: #0d28a6;
  width: 370px;
  height: 36px;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
}
.box1 .box2 form button a {
  color: #fff;
  text-decoration: none;
}

.box1 .box2 form #invalidBox {
  width: 370px;
  height: 60px;
  background-color: rgba(208, 12, 26, 0.1);
  border-radius: 5px;
  margin-bottom: 32px;
  display: none;
}
.box1 .box2 form #invalidBox p {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #d00c1a;
  padding: 12px 16px;
}
