.detailCarku {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
  margin-top: 30px;
}

.isiDetail {
  width: 80%;
}
.isiDetail .box3 .iBox3 {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
}
.isiDetail .box3 .iBox3 h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.isiDetail .box3 .iBox3 h6 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}
.isiDetail .box3 .iBox3 ul li {
  font-weight: 300;
  font-size: 14px;
  line-height: 175%;
  color: #8a8a8a;
}

.isiDetail .box3 .btnku {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
.isiDetail .box3 .btnku a {
  text-decoration: none;
}
.isiDetail .box3 .btnku a button {
  background-color: #5cb85f;
  height: 36px;
  padding: 8px 12px;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.isiDetail .box4 .iBox4 {
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
}
.isiDetail .box4 .iBox4 .gambar {
  display: flex;
  justify-content: center;
  height: 160px;
}
.isiDetail h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.isiDetail .box4 .icons p {
  margin-right: 16px;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
}
.isiDetail .box4 .icons span {
  margin-right: 4px;
}
.isiDetail .box4 .btnku2 a {
  text-decoration: none;
}
.isiDetail .box4 .btnku2 a button {
  background-color: #5cb85f;
  height: 36px;
  padding: 8px 12px;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}
