.listCarku nav {
  font-size: 12px;
}
.listCarku nav a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.listCarku p {
  font-weight: 700;
}
.listCarku .btnAdd {
  border-radius: 2px;
  background-color: #0d28a6;
  border: none;
  width: 145px;
  padding: 8px 12px;
}
.listCarku .btnAdd span {
  padding-right: 10px;
}

.listCarku .btnAdd a {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.listCarku #btn-group {
  margin-bottom: 20px;
}
.listCarku #btn-group .btn {
  background: #ffffff;
  border: 1px solid #aeb7e1;
  border-radius: 2px;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #aeb7e1;
  margin-right: 10px;
}

.listCarku #btn-group .btn:hover,
.listCarku #btn-group .btn:focus,
.listCarku #btn-group .btn:active {
  background: #cfd4ed;
  border: 1px solid #0d28a6;
  border-radius: 2px;
  color: #0d28a6;
}

.listCarku #btn-group .activeBtn {
  background: #cfd4ed;
  border: 1px solid #0d28a6;
  border-radius: 2px;
  color: #0d28a6;
}

.listCarku .cards {
  width: 100%;
  margin: 0px;
}
.listCarku .cards a {
  text-decoration: none;
  color: #000;
}
.listCarku .cards .card {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px;
  width: 310px;
  margin-bottom: 16px;
}

.listCarku .cards .title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.listCarku .cards .imgCar {
  height: 160px;
  margin-bottom: 40px;
}

.listCarku .cards .price {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.listCarku .cards .icons p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.listCarku .cards .icons p span {
  padding-right: 10px;
}

.listCarku .cards .delete {
  background: #ffffff;
  border: 1px solid #fa2c5a;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fa2c5a;
  padding: 8px 12px;
  width: 110px;
}
.listCarku .cards .delete span,
.listCarku .cards .edit span {
  padding-right: 10px;
  position: relative;
  top: -2px;
}

.listCarku .cards .edit {
  background: #5cb85f;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 8px 12px;
  width: 110px;
}
