.addCarku nav {
  font-size: 12px;
}
.addCarku nav a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.addCarku p {
  font-weight: 700;
}

.addCarku .kotak4 {
  width: 100%;
  background-color: #fff;
}

.addCarku .kotak4 .kotak5 {
  width: 50%;
  padding: 16px;
}

.addCarku .kotak4 .kotak5 .label {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3c3c3c;
}
.addCarku .kotak4 .kotak5 .label span {
  color: red;
}

.addCarku .kotak4 .kotak5 #tKecil {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: #8a8a8a;
  margin-left: 48%;
}

.addCarku .btnku {
  position: absolute;
  bottom: 20px;
}

.addCarku .btnku .bCancel {
  margin-right: 16px;
  background: #fff;
  border: 1px solid #0d28a6;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0d28a6;
}
.addCarku .btnku .bCancel a {
  text-decoration: none;
}
.addCarku .btnku .bSave {
  margin-right: 16px;
  background: #0d28a6;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border: none;
  color: #fff;
}
