.main {
  width: 100%;
  background-color: #f1f3ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero {
  width: 85%;
}
.hero .box2 {
  padding: 5% 0px;
}
.hero .box2 h1 {
  color: #000;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}
.hero .box2 p {
  color: #000;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  width: 75%;
}
.hero .box2 button {
  background-color: #5cb85f;
  height: 36px;
  padding: 8px 12px;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.hero .img-car {
  position: relative;
}
.hero .img-car img {
  position: relative;
  width: 120%;
  text-align: center;
}

.our-servicesku {
  width: 100%;
  display: flex;
  justify-content: center;
}
.our-servicesku .our-services {
  width: 70%;
  padding: 80px 0px;
}
.our-servicesku .our-services .imgService {
  padding-right: 60px;
}

.our-servicesku .our-services .kotak9 {
  padding: 30px 0px;
}

.our-servicesku .our-services .kotak9 p span {
  padding-right: 10px;
}

.our-servicesku .our-services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.our-services p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.chart {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.chart p {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.why-usku {
  width: 100%;
  display: flex;
  justify-content: center;
}

.why-us {
  width: 80%;
}

.why-us .why-us-title {
  display: inline-block;
  margin-left: 10px;
}

.why-us .why-us-title h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.why-us .why-us-card {
  margin-top: 40px;
}

.why-us .why-us-card .card {
  margin-bottom: 20px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  height: 200px;
}

.why-us .why-us-card img {
  margin-top: 25px;
  margin-left: 10%;
}

.why-us .why-us-card h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.why-us .why-us-card p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.testimonial {
  margin: 80px 0px;
}

.testimonial-title {
  margin-left: 10px;
}

.testimonial-title h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.testimonial-title p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
}

.swiper-wrapper .testimonial-card {
  display: flex;
  align-items: center;
  width: 500px;
  margin: 16px;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #f1f3ff;
}

.swiper-wrapper .testimonial-info {
  padding-left: 16px;
}
.swiper-wrapper .testimonial-info p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.testimonial-btn img {
  padding-left: 16px;
}

.bannerku {
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner {
  width: 80%;
  text-align: center;
  background-color: #0d28a6;
  border-radius: 13px;
  color: #fff;
  padding: 64px;
}
.banner h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.banner p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 30px 26%;
}

.banner button {
  background-color: #5cb85f;
  height: 36px;
  padding: 8px 12px;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.faqku {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}

.faqku .faq {
  width: 80%;
}

.faqku .faq h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.faqku .faq p,
.faqku .faq .textku {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
