.navbarku {
  width: 100%;
  background-color: #f1f3ff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.navbarku .invo {
  width: 75%;
  padding: 24px 0px;
}
.navbarku .invo span {
  position: relative;
  top: -8px;
}
.navbarku nav {
  width: 90%;
  padding: 24px 0px;
}
.navbarku nav .navbar-brand {
  width: 100px;
  height: 34px;
  background-color: #0d28a6;
}
.navbarku nav .navbar-toggler {
  background-color: #0d28a6;
}
.navbarku nav ul li {
  margin-left: 30px;
}
.navbarku nav ul li a {
  font-size: 14px;
  line-height: 20px;
}
.navbarku nav ul li button {
  background-color: #5cb85f;
  height: 36px;
  padding: 8px 12px;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.navbarku nav ul li button a {
  color: #fff;
  text-decoration: none;
}
