.footerku {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footerku .footer {
  width: 80%;
  margin: 3% 0px 2.5%;
}
.footerku .footer .address ul {
  list-style: none;
  padding: 0;
}
.footerku .footer .address ul li {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.footerku .footer .navigasi ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.footerku .footer .navigasi ul li {
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
}
.footerku .footer .navigasi ul li:first-child {
  margin-top: 0px;
}
.footerku .footer .sosmed p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.footerku .footer .sosmed ul {
  list-style: none;
  padding: 0;
}
.footerku .footer .sosmed ul li:first-child {
  padding-left: 0px;
}
.footerku .footer .sosmed ul li {
  padding-left: 16px;
}
.footerku .footer .copyright p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.footerku .footer .copyright .box7 {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}
