.dashboardku {
  height: 85vh;
}
.dashboardku nav {
  margin-top: 20px;
  font-size: 12px;
}
.dashboardku nav a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.dashboardku p {
  font-weight: 700;
}

.dashboardku h3 {
  font-weight: 700;
  text-align: center;
}
