.invoiceku {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
}

.invoiceku .invoice {
  width: 50%;
}

.invoiceku .invoice .kotak7 {
  text-align: center;
  margin: 40px 0px;
}
.invoiceku .invoice .kotak7 p {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 16px 0px;
}
.invoiceku .invoice .kotak7 .tKecil {
  font-weight: 300;
  color: #8a8a8a;
}

.invoiceku .invoice .kotak8 {
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 24px;
}
.invoiceku .invoice .kotak8 p {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.invoiceku .invoice .kotak8 .btnUnduh {
  background: #ffffff;
  padding: 8px 12px;
  border: 1px solid #0d28a6;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0d28a6;
}
.invoiceku .invoice .kotak8 .btnUnduh span {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.invoiceku .invoice .kotak8 .tKecil2 {
  font-weight: 300;
  color: #3c3c3c;
}
.invoiceku .invoice .kotak8 .pdfView {
  background: #eee;
  border: 1px dashed #d0d0d0;
  border-radius: 5px;
}
