.sidebarku {
  margin: 40px 0px 0px 0px;
  padding: 0px 10px;
  box-sizing: border-box;
  position: relative;
  transition: 0.5s;
}

.sidebarku .header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  transition: 0.5s;
}

.sidebarku .header .header-toogle {
  cursor: pointer;
  padding: 0px 15px;
  font-size: 18px;
}

.sidebarku .sideBar {
  position: fixed;
  top: 0px;
  left: -80px;
  height: 100vh;
  width: 80px;
  background-color: #0d28a6;
  padding-top: 10px;
  transition: 0.5s;
}
.kotak1 {
  padding: 10px 0px;
}
.kotak1 .logo {
  padding: 0px 15px;
}
.kotak3 {
  padding: 5px 0px;
}
#search {
  position: relative;
  right: -8px;
  border-radius: 4px 0px 0px 4px;
}
#btn {
  background: #fff;
  border: 1px solid #0d28a6;
  border-radius: 0px 4px 4px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0d28a6;
}
#btn:hover {
  background-color: #0d28a6;
  color: #fff;
}
#dropdown-basic {
  background-color: transparent;
  outline: none;
  border: none;
  color: #000;
  margin-right: 10px;
}
#dropdown-basic #imgUser {
  margin-right: 10px;
}
#dropdown-basic span {
  color: #000;
  margin-right: 10px;
}

.sidebarku .sideBar .navku {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.sidebarku .sideBar .navku .logo2,
.sidebarku .sideBar .navku .lis {
  display: grid;
}

.sidebarku .sideBar .navku .logo2 {
  margin-left: 24px;
  margin-bottom: 12px;
}

.sidebarku .sideBar .navku .lis {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
  cursor: pointer;
}

.sidebarku .sideBar .navku .lis:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebarku .sideBar .navku .lis .lis-icon {
  font-size: 24px;
  margin-left: 29px;
}

.sidebarku .sideBar .navku .lis p {
  font-size: 14px;
  text-align: center;
}

.sidebarku .showku {
  left: 0px;
}
.sidebarku .space-toogle {
  padding-left: 290px;
}
.sidebarku .side {
  background-color: #fff;
  position: fixed;
  left: 80px;
  top: 56px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 220px;
}
.sidebarku .side li {
  padding: 10px 0px 10px 25px;
}
.sidebarku .side li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #151515;
  text-align: left;
}
.sidebarku .side li:first-child {
  color: #8a8a8a;
}
.sidebarku .side li:nth-child(2) {
  background: #cfd4ed;
}

.sidebarku .dashB,
.sidebarku .listcar,
.sidebarku .addcar {
  padding: 20px;
  background-color: #f4f5f7;
}
.sidebarku .addcar {
  height: 93vh;
}
.sidebarku .sideClose {
  left: -220px;
}
.sidebarku .active {
  background-color: rgba(255, 255, 255, 0.3);
}
